{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="twelve columns" style="margin-top: 10%">
      <center>
        <img src="static/img/blacklogo.png" alt="Personal Logo" width="40%" height="40%">
      </center>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <center>
        <h5>
          <a href="https://drive.google.com/file/d/1VYdO9WnAZr_Njf9fKUdbIOTXu5SpXhwx/view?usp=sharing">Resume</a>
          &nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/bryangalindo/">LinkedIn</a>
          &nbsp;&nbsp;
          <a href="https://github.com/bryangalindo">GitHub</a>
          &nbsp;&nbsp;
          <a href="{{ url_for('bio') }}">Bio</a>
      </center>
    </div>
{% endblock %}
