{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="twelve columns" style="margin-top: 10%">
      <center>
        <img src="static/img/blacklogo.png" alt="Personal Logo" width="40%" height="40%">
      </center>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <center>
        <h5>
          <a href="https://drive.google.com/file/d/0B7A5jX0ce64Ed1JzN3hkaEg5TWc/view?usp=sharing">Resume</a>
          &nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/bryangalindo/">LinkedIn</a>
          &nbsp;&nbsp;
          <a href="https://github.com/bryangalindo">GitHub</a>
          &nbsp;&nbsp;
          <a href="{{ url_for('bio') }}">Bio</a>
        <!-- </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu libero venenatis, ullamcorper ligula ut, sodales diam.
          Proin vulputate eros ut sem condimentum tristique. In ornare ante ligula, non consequat velit tincidunt id.
          Donec convallis eros sit amet sapien rutrum, ut sollicitudin turpis lobortis. Aliquam dignissim sagittis elit eu suscipit.
          Etiam non nisl mi. Ut iaculis viverra ipsum, vel rhoncus augue faucibus at. Sed commodo diam suscipit nisi faucibus lobortis.
        </p> -->
      </center>
    </div>
{% endblock %}

